name: "Publish website with slides to GH Pages"

on:
  push:
    branches: ["main"]
  workflow_dispatch:


# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: "read"
  pages: "write"
  id-token: "write"


# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true


# Default to bash in login mode
# https://github.com/mamba-org/provision-with-micromamba#IMPORTANT
defaults:
  run:
    shell: "bash -l {0}"


jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Check out repository"
        uses: "actions/checkout@v3"

      - name: "Install Conda environment"
        uses: "mamba-org/setup-micromamba@v1"
        with:
          environment-file: "environment.yml"
          cache-environment: true

      - name: "Render Quarto website"
        run: "quarto render ."

      - name: "Upload artifact"
        uses: "actions/upload-pages-artifact@v3"
        with:
          path: "./_site"

  # Deploy to GH Pages
  deploy:
    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"
    runs-on: "ubuntu-latest"
    needs: "build"
    steps:
      - name: "Deploy to GitHub Pages"
        id: "deployment"
        uses: "actions/deploy-pages@v1"
